.bd-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.bd-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    margin: 4rem;
}

.bd-title {
    font-size: 5rem;
    font-weight: bold;
    color: #453e74;
}

.bd-paragraph {
    font-size: 1.5rem;
    color: #453e74;
    font-weight: bold;
    margin-top: 2rem;
}

.bd-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50vw;
    height: 100vh;
}

.bd-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 5px #453e74;
    font-size: 3rem;
    color: #453e74;
}

.bd-input:focus {
    outline: none;
    color: #453e74;
}

.bd-input::placeholder {
    color: #453e74;
    font-weight: bold;
}

.form-btn {
    margin: 1rem;
    border: none;
    background-color: #453e74;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 5px 5px black;
  
    outline: none;
}

.form-btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.3s ease;
}

.btn-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #453e74;
}

@media (max-width: 1024px) {
    .bd-container {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    .bd-intro {
        width: auto;
    }

    .bd-title {
        text-align: center;
    }

    .bd-paragraph {
        padding: 0;
       
    }

    .bd-form {
        height: 100vh;
        text-align: center;
        margin-right: 2rem;
    } 
}

@media (max-width: 768px) {
    .bd-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .bd-intro {
      padding: 0;
      margin: 0;
      height: 35vh;
    }
  
    .bd-title {
      text-align: center;
      margin: 0;
      padding: 1rem;
    }
  
    .bd-paragraph {
      margin: 2rem;
      width: auto;
    }
  
    .bd-form {
      padding: 0rem;
      margin: 0;
      height: auto;
      width: auto;
    }

    .bd-input {
        text-align: center;
    }
  
    .btn-container {
      margin-top: 38rem; /* Add margin-top to create space between form and button */
      text-align: center;
      order: 2; /* Change the order of the element to appear after the form */
    }
  }
  

@media (max-width: 543px) {
    .bd-container {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .bd-intro {
        width: auto;
        height: 50vh;
    }

    .bd-title {
        text-align: center;
        width: auto;
    }

    .bd-paragraph {
        padding:0;
        width: auto;
    }

    .bd-form {
        padding: 0;
        margin: 0;
    }

    .bd-input {
        width: auto;
        text-align: center;
    }

    .bd-input::placeholder {
        text-align: center;
    }
}